<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Baofeng Guo - Full Stack Developer</title>
    <link rel="stylesheet" href="/css/style.css" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  </head>

<body>

<!-- Navigation Bar -->
<header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top">
         <div class="container">
           <h2 class="nav-header underline"><a href="/"></a>BAOFENG GUO</a></h2>
            <div class="collapse navbar-collapse" id="navbarCollapse">
               <ul class="navbar-nav ml-auto" style="float:right">
                  <li class="nav-item">
                     <a href="/" class="nav-link">Home</a>
                  </li>
                  <li class="nav-item">
                     <a href="/about" class="nav-link">About</a>
                  </li>
                  <li class="nav-item">
                     <a href="/experience" class="nav-link">Experience</a>
                  </li>
                  <li class="nav-item">
                     <a href="/skills" class="nav-link">Skills</a>
                  </li>
                  <li class="nav-item">
                     <a href="/projects" class="nav-link">Projects</a>
                  </li>
                  <li class="nav-item">
                     <a href="/contact" class="nav-link">Contact</a>
                  </li>
               </ul>
            </div>
         </div>
      </nav>
</header>

<main class="container container-fluid mt-5">
    {{{ body }}}
  </main>

<footer class="container container-fluid mt-5">
  <div class="footer">
    <address>
      <a href="mailto:peterguo1983@gmail.com"><i class="fa fa-envelope"></i></a> |
      <a href="https://github.com/magickw"><i class="fab fa-github"></i></a> |
      <a href="https://www.linkedin.com/in/bfguo"><i class="fab fa-linkedin"></i></a> |
      <a href="https://www.instagram.com/petguo"><i class="fab fa-instagram"></i></a>
    </address>
      <p>Created with <a>❤️</a> by <a href="https://www.linkedin.com/in/bfguo/">Baofeng Guo</a>. Thank you for visiting. | Source code:
      <a href="https://github.com/magickw/PortfolioGuo"><i class="fab fa-github"></i></a></p>
  </div>
</footer>

</body>


</html>