<main>
  <h1 class="sr-only">About</h1>
  <section class="main-spacing-container center-flex-column gap-64">
    <div class="text-center">
      <h2>About Me</h2>
      <div>
          <img class="col-lg-6 col-sm-12" src="./images/profile.jpg"/>
      </div>
      <div>
        <p class="col-lg-6 col-sm-12" style="font-size: 22px;">I am Baofeng Guo (aka Peter), born and raised in China. I hold a Bachelor Degree in Science. 
        I majored in Biology in college and have been working as an English - Chinese medical translator after 
        graduation for more than 14 years. 4 years after moving to the Bay Area and inspired by its entrepreneurial atmosphere, 
        I felt it's about time to make a change by pursuing a coding career. That's how it started. I am now currently trained at  UC Berkeley Extension Coding Bootcamp for Full Stack Web Development.
        Do not hesitate to contact me if you need my services. Please click the Projects section to see the projects I have worked on. 
        You can also click <a href="./cv.pdf" class="text-teal-500">here</a> to see my CV for details.</p>
      </div>
      
    </div>
  </section>
  <section>

  </section>
</main>
