    <section class="experience" id="experience">
      <h2 class="text-3xl font-bold text-center hover:ring-2 hover:ring-white">Education & Experience</h2>
      <div class="timeline">
        <div class="experience-item left">
          <div class="content">
            <h2>2022</h2>
            <p>Coding Boot Camp, <a href="https://extension.berkeley.edu/public/category/courseCategoryCertificateProfile.do?method=load&certificateId=32408422" target="_blank" class="text-indigo-500">UC Berkeley Extension</a></p>
          </div>
        </div>
        <div class="experience-item right">
          <div class="content">
            <h2>2020</h2>
            <p>Contractor of the <a href="https://emergencymanagement.sccgov.org/home" target="_blank" class="text-sky-600">Emergency Operating Center of Santa Clara County </a> </p>
          </div>
        </div>
        <div class="experience-item left">
          <div class="content">
            <h2>2010</h2>
            <p>Freelance English <> Chinese Medical Translator</p>
          </div>
        </div>
        <div class="experience-item right">
          <div class="content">
            <h2>2007</h2>
            <p>Senior Translator,  <a href="https://www.mts-tech.com/" target="_blank" class="text-rose-600">Master Translation and Technology Service
              (MTS)</a>, Xiamen, China</p>
          </div>
        </div>
        <div class="experience-item left">
          <div class="content">
            <h2>2006</h2>
            <p>Bachelor in Science in Biology, <a href="https://en.nankai.edu.cn/" target="_blank" class="text-violet-500">Nankai University</a>, Tianjin, China</p>
          </div>
        </div>
        
      </div>
    </section>