<section class="langdingpage" style="background:url('./images/background.jpg')">
    <div class="justify-content-center" style="height:80vh">
        <br>
        <br>
        <br>
        <br>
        <br><br><br><br><br><br>
        <div class="hero hero-container">
                <div class="col-12 text-center text-white">
                    <img class="mt-4" style="width:160px;border-radius:50%" src="./images/profile.jpg"/>
                <h1 class="display-3 mt-2">{{greeting}}</h1>
                <p class="lead text-white mb-4 mt-0">{{introduction}}</p>
                </div>
                
           </div>
        </div>
    </div>
</section>