<body>
<section style="background:url('')">
    <div class="gradient-div py-3" style="height:76vh">
        <div class="container">
            <div class="row justify-content-center header">
                <div class="col-12 col-md-8 col-lg-7 text-white">
                    <img src="{{{landingpage.image_profile}}}">
                <h1 class="display-3 mt-4">{{landingpage.greeting}}</h1>
                <p class="">{{landingpage.introduction}}</p>
                </div>
                
           </div>
        </div>
    </div>
</section>
    
</body>