<body>
<section style="background:url('https://images.unsplash.com/photo-1516259762381-22954d7d3ad2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8=s2048');background">
    <div class="gradient-div py-3" style="height:76vh">
        <div class="container">
            <div class="row justify-content-center header-row">
                <div class="col-12 col-md-8 col-lg-7 text-center text-white">
                    <img class="mt-4" style="with:160px;border-radius:50%" src="{{landingpage.image_profile}}=s320-c">
                <h1 class="display-3 mt-2">{{landingpage.greeting}}</h1>
                <p class="lead text-white mb-4 mt-0">{{landingpage.introduction}}</p>
                </div>
                
           </div>
        </div>
    </div>
</section>
    
</body>