<div class="container">
	<section class="row">
		<article class="col-xl-9 col-lg-8 col-md-7 bg-white p-4">
			<h1 class = "text-teal">Portfolio</h1>
	    <hr>
			<div class="row">
				<div class="col-xl-6 col-lg-12 mb-4">
				
  <div class="card-body">
    <h4 class="card-title" style="font-weight: bold">Weather Dashboard</h4>
    <img class="mt-4" src="images/WeatherDashboard.gif">
    <p class="card-text">Full-stack CMS-style blog site where developers can publish and comment, using MVC architectural structure, Handlebars.js, Sequelize, and express-session.</p>
    <a href="https://github.com/magickw/WeatherDashboard" class="card-link">Repo</a> |
    <a href="https://magickw.github.io/WeatherDashboard/">View App</a>

</div>
				</div>
				<div class="col-xl-6 col-lg-12 mb-4">
<div class="card-body">
    <h4 class="card-title" style="font-weight: bold">AstroDash</h4>
    <img class="mt-4" src="images/AstroDash.gif">
    <p class="card-text">Full-stack CMS-style blog site where developers can publish and comment, using MVC architectural structure, Handlebars.js, Sequelize, and express-session.</p>
    <a href="https://github.com/DazedChou/Astronomy-Dashboard" class="card-link">Repo</a> |
    <a href="https://dazedchou.github.io/Astronomy-Dashboard/">View App</a>

</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xl-6 col-lg-12 mb-4">
<div class="card-body">
    <h4 class="card-title" style="font-weight: bold">Tech Blog with MVC architectural structure</h4>
    <img class="mt-4" src="images/techblog.gif">
    <p class="card-text">This application is a tech blog which allows the developers to publish blog posts, make comments and create accounts using MVC architectural structure, Handlebars.js, Sequelize.</p>
    <a href="https://github.com/magickw/MVCTechBlog" class="card-link">Repo</a> |
    <a href="https://guotechblog.herokuapp.com/">View App</a>

</div>
				</div>
				<div class="col-xl-6 col-lg-12 mb-4">
<div class="card-body">
    <h4 class="card-title"  style="font-weight: bold">DontFundMe</h4>
    <img class="mt-4" src="images/DontFundMe.gif">
    <p class="card-text">DontFundMe is a crowdfunding app that allows user to share their stories and get helped by friends, family, and even strangers!</p>
    <a href="https://github.com/PentaZoned/DontFundMe" class="card-link">Repo</a> |
    <a href="https://still-headland-20752.herokuapp.com/">View App</a>

</div>
				</div>
			</div>
		</article>
	</section>
</div>