    <section class="skills" id="skills">
      <h2 class="skill-header text-center text-3xl font-bold hover:ring-2 hover:ring-white">Skills</h2>
      <div class="skills-wrapper">
        <div class="self-center">
          <img src="public/icons/java.png" alt="Java" loading="lazy" class="icon icon-card"/>
          <img src="public/icons/html.png" alt="HTML" loading="lazy" class="icon icon-card"/>
          <img src="public/icons/python.png" alt="Python" loading="lazy" class="icon icon-card"/>
          <img src="public/icons/javascript.png" alt="Java" loading="lazy" class="icon icon-card"/>
          <img src="public/icons/c-programming.png" alt="C" loading="lazy" class="icon icon-card"/>
          <img src="public/icons/css.png" alt="CSS" loading="lazy" class="icon icon-card"/>
          <img src="public/icons/boostrap.png" alt="boostrap" loading="lazy" class="icon icon-card"/>
          <img src="public/icons/nodejs.png" alt="nodejs" loading="lazy" class="icon icon-card"/>
        </div>
      </div>
      <br>
    </section>